*{
    padding: 0;
    margin: 0;
}
.main{
    width: 100%;
    height: 350vh;
    background-image:  linear-gradient(to right,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(bg.jpeg);
    background-position: center;
    background-size: cover;
    font-family: "Nunito", sans-serif;
    font-style: normal;
}
.nav-bar{
    width: 100%;
    height: 20vh;
    background: linear-gradient(to right,rgba(175,143,111,0.7),rgba(175,143,111,0.7));
}
.heading{
    float: left;
    font-weight: bold;
}
.heading h1{
    padding-top: 5%;
    padding-left: 20%;
    width: 100%;
    font-size: 40px;
    color: rgb(39, 37, 37);
}
.heading h1 a{
    text-decoration: none;
    color: rgb(39, 37, 37);
}
.heading h4{
    padding-top: 0;
    padding-left: 30%;
    letter-spacing: 1px;
    width: 100%;
    font-size: 20px;
    color: rgb(50, 49, 49);
}
.heading h4 a{
    text-decoration: none;
    color: rgb(50, 49, 49);
}
.dropdown{
   float: right; 
   width: 25%;
   height: 55vh;
   position: relative;
}
.dropdown-btn{
    width: 70%;
    height: 40px;
    margin: 13%;
    margin-bottom: 5%;
    margin-top: 11%;
    float: right;
    color: rgb(39, 37, 37);
    font-size: 18px;
    font-weight: 700;
    border: 2px solid rgb(39, 37, 37);
    background: transparent;
    cursor: pointer;
}
.dropdown-menu{
    width: 87%;
    height: 100%;
    margin-top: 30%;
    position: absolute;
    z-index: 999999;
    background: linear-gradient(to top, rgba(255,255,255,0.9),rgba(255,255,255,0.7));
    display: none;
}
.dropdown-menu.active{
    display: block;
}
.dropdown-menu ul{
    list-style: none;
}
.dropdown-menu ul li{
    padding: 3.1%;
    margin-bottom: 0;
}
.dropdown-menu ul li a{
    text-decoration: none;
    color:rgb(50, 49, 49) ;
    font-size: 18px;
    font-weight: 600;
}
.dropdown-menu ul li:hover{
    background: rgb(113, 113, 113);
}
.down{
    width: 100%;
    height: 140vh;
    position: absolute;
}
.top1{
    width: 90%;
    height: 53vh;
    margin-top: 3%;
    margin-left: 5%;
    background: linear-gradient(to right,rgba(234,216,192, 0.7),rgba(234,216,192, 0.5));
    border-radius: 10px;
    display: flex;
}
.top1 img{
    position: relative;
    float: right;
    width: 370px;
    height: 250px;
    margin-top: 2%;
    margin-right: 2%;
    flex-direction: row;
}
.side2{
    float: left;
    margin-left: 10px;
    width: 90%;
}
.side2 h1{
    color: rgb(39, 37, 37);
    padding-top: 5%;
    padding-bottom: 1%;
    padding-left: 5%;
    flex-direction: column;
    font-size: 60px;
}
.side2 p{
    padding-left: 8%;
    color: rgb(39, 37, 37);
    font-size: 25px;
    font-weight: 400;
    flex-direction: column;
    width: 95%;
}
.top2{
    width: 90%;
    height: 45vh;
    margin-top: 3%;
    margin-left: 5%;
    background: linear-gradient(to right,rgba(234,216,192, 0.7),rgba(234,216,192, 0.5));
    border-radius: 10px;
}
.top2 h1{
    color: rgb(39, 37, 37);
    padding-bottom: 1%;
    padding-left: 5%;
    font-size: 60px;
    padding-top: 1%;
}
.top2 p{
    padding-left: 10%;
    color: rgb(39, 37, 37);
    font-size: 20px;
    font-weight: 400;
    width: 85%;
}
.top3{
    width: 90%;
    height: 115vh;
    margin-top: 3%;
    margin-left: 5%;
    background: linear-gradient(to right,rgba(234,216,192, 0.7),rgba(234,216,192, 0.5));
    border-radius: 10px;
    position: relative;
}
.top3 h1{
    color: rgb(39, 37, 37);
    padding-bottom: 1%;
    padding-left: 5%;
    font-size: 60px;
    padding-top: 3%;
}
.dropdown1{
    width: 90%;
    height: 65vh;
}
.hindu{
    width:100%;
    height: 40px;
    border: none;
    margin-left:5% ;
    margin-top: 1%;
    font-size: 20px;
    text-align: left;
    font-weight: bolder;
    padding-left: 2%;
    color: rgb(39, 37, 37);
}
.ri-add-line{
    float: right;
    margin-right: 2%;
}
.about1{
    width:98%;
    height: 165px;
    border: none;
    margin-left:5% ;
    padding-left: 2%;
    background: white;
    display: none;
}
.about1.active{
    display: block;
}
.about1 p{
    padding-top: 1%;
    font-size: 17px;
    text-align: left;
    width: 82%;
    color: rgb(39, 37, 37);
}
.about1 img{
    height: 160px;
    margin-right: 1%;
    float: right;
    margin-top: -15%;
}
.islam{
    width:100%;
    height: 40px;
    border: none;
    margin-left:5% ;
    margin-top: 1%;
    font-size: 20px;
    text-align: left;
    font-weight: bolder;
    padding-left: 2%;
    color: rgb(39, 37, 37);
}
.about2{
    width:98%;
    height: 165px;
    border: none;
    margin-left:5% ;
    padding-left: 2%;
    background: white;
    display: none;
}
.about2.active{
    display: block;
}
.about2 p{
    padding-top: 1%;
    font-size: 17px;
    text-align: left;
    width: 82%;
    color: rgb(39, 37, 37);
}
.about2 img{
    height: 160px;
    margin-right: 1%;
    float: right;
    margin-top: -15%;
}
.chris{
    width:100%;
    height: 40px;
    border: none;
    margin-left:5% ;
    margin-top: 1%;
    font-size: 20px;
    text-align: left;
    font-weight: bolder;
    padding-left: 2%;
    color: rgb(39, 37, 37);
}
.about3{
    width:98%;
    height: 165px;
    border: none;
    margin-left:5% ;
    padding-left: 2%;
    background: white;
    display: none;
}
.about3.active{
    display: block;
}
.about3 p{
    padding-top: 1%;
    font-size: 17px;
    text-align: left;
    width: 83%;
    color: rgb(39, 37, 37);
}
.about3 img{
    height: 160px;
    margin-right: 1%;
    float: right;
    margin-top: -13%;
}
.sikh{
    width:100%;
    height: 40px;
    border: none;
    margin-left:5% ;
    margin-top: 1%;
    font-size: 20px;
    text-align: left;
    font-weight: bolder;
    padding-left: 2%;
    color: rgb(39, 37, 37);
}
.about4{
    width:98%;
    height: 170px;
    border: none;
    margin-left:5% ;
    padding-left: 2%;
    background: white;
    display: none;
}
.about4.active{
    display: block;
}
.about4 p{
    padding-top: 1%;
    font-size: 17px;
    text-align: left;
    width: 83%;
    color: rgb(39, 37, 37);
}
.about4 img{
    height: 160px;
    margin-right: 1%;
    float: right;
    margin-top: -16%;
}
.budh{
    width:100%;
    height: 40px;
    border: none;
    margin-left:5% ;
    margin-top: 1%;
    font-size: 20px;
    text-align: left;
    font-weight: bolder;
    padding-left: 2%;
    color: rgb(39, 37, 37);
}
.about5{
    width:98%;
    height: 140px;
    border: none;
    margin-left:5% ;
    padding-left: 2%;
    background: white;
    display: none;
}
.about5.active{
    display: block;
}
.about5 p{
    padding-top: 1%;
    font-size: 17px;
    text-align: left;
    width: 83%;
    color: rgb(39, 37, 37);
}
.about5 img{
    height: 160px;
    float: right;
    margin-top: -14%;
}
.jain{
    width:100%;
    height: 40px;
    border: none;
    margin-left:5% ;
    margin-top: 1%;
    font-size: 20px;
    text-align: left;
    font-weight: bolder;
    padding-left: 2%;
    color: rgb(39, 37, 37);
}
.about6{
    width:98%;
    height: 80px;
    border: none;
    margin-left:5% ;
    padding-left: 2%;
    background: white;
    display: none;
}
.about6.active{
    display: block;
}
.about6 p{
    padding-top: 1%;
    font-size: 17px;
    text-align: left;
    width: 90%;
    color: rgb(39, 37, 37);
}
.about6 img{
    height: 80px;
    float: right;
    margin-top: -7%;
    margin-right: 1%;
}
.jud{
    width:100%;
    height: 40px;
    border: none;
    margin-left:5% ;
    margin-top: 1%;
    font-size: 20px;
    text-align: left;
    font-weight: bolder;
    padding-left: 2%;
    color: rgb(39, 37, 37);
}
.about7{
    width:98%;
    height: 140px;
    border: none;
    margin-left:5% ;
    padding-left: 2%;
    background: white;
    display: none;
}
.about7.active{
    display: block;
}
.about7 p{
    padding-top: 1%;
    font-size: 17px;
    text-align: left;
    width: 83%;
    color: rgb(39, 37, 37);
}
.about7 img{
    height: 130px;
    float: right;
    margin-top: -13%;
    margin-right: 1%;
}
.top4{
    width: 90%;
    height: 80vh;
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 5%;
    background: linear-gradient(to right,rgba(234,216,192, 0.7),rgba(234,216,192, 0.5));
    border-radius: 10px;
    position: relative;
}
.top4 h2{
    color: rgb(39, 37, 37);
    padding-bottom: 1%;
    padding-left: 5%;
    font-size: 60px;
    padding-top: 3%;
}
.about8{
    display: flex;
}
.about8 p{
    padding-left: 10%;
    color: rgb(39, 37, 37);
    font-size: 25px;
    font-weight: 400;
    width: 85%;
}
.about8 img{
    height: 300px;
    width: 300px;
}